{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">
                    {{post.title}}
                </h1>
                <p class="post-subtitle"> {{post.author}} | {{post.post_date}}</p>
            </div>
            <div class="col-md-6">
                <div class="d-none d-md-block col-md-12"> 
                    <div class="post-image" style="background: url({{ post.featured_image.url }})"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <p class="card-text "><strong>{{post.masthead}}</p> </strong><p> {{post.content | safe}}</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <strong> 
                            <!--info box-->
                            {%if user.is_authenticated %} 
                            <form action="{% url 'post_like' post.slug %}" id="post-like-counter" class="d-inline" method="POST"> 
                                {% csrf_token %} 
                                {% if liked %} 
                                <button type="submit" value="{{post.slug}}" class="btn-like">
                                    <i class="fas fa-heart"></i>
                                </button> 
                                {% else %} 
                                <button type="submit" value="{{post.slug}}" class="btn-like">
                                    <i class="far fa-heart"></i>
                                </button> 
                                {% endif %} 
                            </form>
                            <form action="{% url 'sub_to_user' post.author post.slug%}" id="post-like-counter" class="d-inline" method="POST"> 
                                {% csrf_token %} 
                                {% if subbed %} 
                                <button type="submit " value="{{post.author}}" class="btn btn-info"> 
                                    UNSUBSCRIBE 
                                </button> 
                                {% else %} 
                                <button type="submit" value="{{post.author}}" class="btn btn-info"> 
                                    SUBSCRIBE to {{post.author}}
                                </button> 
                                {% endif %} 
                            </form> 
                            {% else %} 
                            <span class="text-secondary">
                                <i class="far fa-heart"></i>
                            </span> 
                            {% endif %} 
                            <span class="text-secondary">
                                {{post.number_of_likes}}
                            </span>
                        </strong>
                        <strong class="text-secondary">
                            <i class="far fa-heart"></i> {{post.Likes}}
                        </strong> 
                       {% with comments.count as total_comments %} 
                        <strong class="text-secondary">
                            <i class="far fa-comments"></i>
                            {{total_comments}}
                        </strong> 
                        {% endwith %} 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %} <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.post_date }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body"> 
                {% if commented %} 
                <div class="alert alert-success" role="alert"> 
                    thanks for you comment, it is waiting to be approved.
                </div> 
                {% else %} 
                {% if user.is_authenticated %} 
                <h3>Leave a comment:</h3>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }} 
                    {% csrf_token %} 
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </form> 
                {% endif %} 
                {% endif %}
            </div>
        </div>
    </div>
</div> {% endblock content %}