{% extends 'base.html' %} 
{% block content %}

<div class="profile">
    <div class="container">
        <div class="row">
            <div class="col-md-4 "> 
                {% if "placeholder" in user.profile.profile_image.url %} 
                <div class="profile-image" style="background: url(static/images/user.png)"></div> 
                {% else %} 
                <div class="profile-image" style="background: url({{ user.profile.profile_image.url }})"></div> 
                {% endif %} 
            </div>
            <div class="col-md-4">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>
                                {{user.username}}
                            </th>
                        </tr>
                        <tr>
                            <td>
                                {{user.email}}
                            </td>
                        </tr>
                        <tr>
                            <td> Member Since: {{user.date_joined}}
                            </td>
                        </tr>
                        <tr>
                            <td> 
                                {% if user.profile.user_bio is not None %} 
                                {{user.profile.user_bio}} 
                                {% else %} 
                                <i>No user bio</i> 
                                {% endif %} 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                {{user.profile.number_of_subs}} Subscribers
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{number_of_posts}} Posts
                            </td>
                        </tr>
                        <tr>
                            <td> Subscribed to {{user.profile.number_subbed_to}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="container"> 
                                    {% if user.profile.twitter_handle is not none%} 
                                    <a href="{{user.profile.twitter_handle}}">
                                        <i class="fa-brands fa-twitter media-links"></i>
                                    </a> 
                                    {% else %} 
                                    <i class="fa-brands fa-twitter media-links greyed-out"></i> 
                                    {% endif %} 
                                    {% if user.profile.youtube_handle is not none%} 
                                    <a href="{{user.profile.youtube_handle}}">
                                        <i class="fa-brands fa-youtube ms-3 media-links"></i>
                                    </a> 
                                    {% else %} 
                                    <i class="fa-brands fa-youtube ms-3 media-links greyed-out"></i> 
                                    {% endif %} {% if user.profile.instagram_handle is not none%} 
                                    <a href="{{user.profile.instagram_handle}}">
                                        <i class="fa-brands fa-instagram ms-3 media-links"></i>
                                    </a> 
                                    {% else %} 
                                    <i class="fa-brands fa-instagram ms-3 media-links greyed-out"></i> 
                                    {% endif %} 
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{% url 'edit_profile' %}">edit profile</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">User Posts</div>
        <div class="col-12 mt-3 left">
            <div class="row"> 
                {% if user_post_list %} 
                {% for post in user_post_list %} 
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container"> 
                                {% if "profile_placeholder" in post.featured_image.url %} 
                                <img src="" class="card-img-top"> 
                                {% else %} 
                                <img src="{{ post.featured_image.url }}" class="card-img-top"> 
                                {% endif %} 
                                <div class="image-flash">
                                    <p class="author">
                                        {{ post.title }}
                                    </p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h2 class="card-title">{{ post.author }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">
                                {{ post.post_date }}
                                <i class="far fa-heart"></i>
                                {{ post.number_of_likes }}
                                <form action="{% url 'edit_post' post.title %}">
                                    <button type="submit" value="">Edit</button>
                                </form>
                                    <button type="button" id="delete-button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        Delete
                                    </button>
                                    
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Delete Post</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                            are you sure you want to delete this post, it cannot be undone?
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <form action="{% url 'delete_post' post.slug %}" class="d-inline" method="POST">
                                                {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger" value="{{post.slug}}" class="btn-like">Delete</button>
                                            </form>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    
                            </p>
                        </div>
                    </div>
                </div> 
                {% if forloop.counter|divisibleby:3 %} 
            </div>
            <div class="row"> 
                {% endif %} 
                {% endfor %} 
            </div> 
            {% else %} 
            <div class="col-md-12"> 
                You have yet to write a post, write your first post 
                <a href="{% url 'create_post' %}">here</a>
            </div> 
            {%endif%} 
            {% if user_post_pagination %} 
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center"> 
                    {% if user_post_list.has_previous %} 
                    <li>
                        <a href="?page={{ user_post_list.previous_page_number }}" class="page-link">&laquo; PREV </a>
                    </li> 
                    {% endif %} 
                    {% if user_post_list.has_next %} 
                    <li>
                        <a href="?page={{ user_post_list.next_page_number }}" class="page-link"> NEXT &raquo;</a>
                    </li> 
                    {% endif %} 
                </ul>
            </nav> {% endif %} <div class="row">Subscriptions</div>
            <div class="col-12 mt-3 left">
                <div class="row"> 
                    {% if sub_post_list %} 
                    {% for post in sub_post_list %} 
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="image-container"> 
                                    {% if "profile_placeholder" in post.featured_image.url %} 
                                    <img src="" class="card-img-top"> 
                                    {% else %} 
                                    <img src="{{ post.featured_image.url }}" 
                                    class="card-img-top"> 
                                    {% endif %} 
                                    <div class="image-flash">
                                        <p class="author">
                                            {{ post.title }}
                                        </p>
                                    </div>
                                </div>
                                <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                    <h2 class="card-title">{{ post.author }}</h2>
                                    <p class="card-text">{{ post.excerpt }}</p>
                                </a>
                                <hr />
                                <p class="card-text text-muted h6">{{ post.post_date }}
                                    <i> class="far fa-heart"></i>{{ post.number_of_likes }}
                                </p>
                            </div>
                        </div>
                    </div> {% if forloop.counter|divisibleby:3 %} </div>
                <div class="row"> 
                    {% endif %} 
                    {% endfor %} 
                </div> 
                {% else %} 
                <div class="col-md-12"> 
                    <p>have yet to subscribe to a user, doing so shows there articles </p> 
                </div> 
                {%endif%} 
                {% if sub_post_pagination %} 
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center"> {% if page_obj.has_previous %} <li>
                            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a>
                        </li> {% endif %} {% if page_obj.has_next %} <li>
                            <a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a>
                        </li> {% endif %} </ul>
                </nav> {% endif %}
            </div>
        </div>

{% endblock %}